@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme inline {
  --animate-skeleton:
    skeleton 2s -1s infinite linear;
  --color-border:
    var(--color-slate-200);
  --color-ring:
    var(--color-slate-400);
  --color-background:
    var(--color-white);
  --color-foreground:
    var(--color-slate-900);
  --color-popover:
    var(--color-white);
  --color-popover-foreground:
    var(--color-slate-900);
  --color-muted:
    var(--color-slate-100);
  --color-muted-foreground:
    var(--color-slate-600);
  --color-accent:
    var(--color-slate-100);
  --color-accent-foreground:
    var(--color-slate-900);
  --color-card:
    var(--color-white);
  --color-card-foreground:
    var(--color-slate-900);
  --color-input:
    var(--color-slate-200);
  --color-primary:
    var(--color-blue-600);
  --color-primary-foreground:
    var(--color-white);
  --color-secondary:
    var(--color-slate-100);
  --color-secondary-foreground:
    var(--color-slate-900);
  --color-warning-foreground:
    var(--warning-foreground);
  --color-warning:
    var(--warning);
  --color-success-foreground:
    var(--success-foreground);
  --color-success:
    var(--success);
  --color-info-foreground:
    var(--info-foreground);
  --color-info:
    var(--info);
  --color-destructive:
    var(--color-red-600);
  --color-destructive-foreground:
    var(--destructive-foreground);
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  @keyframes skeleton {
  to {
    background-position:
    -200% 0;
    }
  }
}

:root {
  --destructive-foreground:
    var(--color-red-700);
  --info:
    var(--color-blue-500);
  --info-foreground:
    var(--color-blue-700);
  --success:
    var(--color-emerald-500);
  --success-foreground:
    var(--color-emerald-700);
  --warning:
    var(--color-amber-500);
  --warning-foreground:
    var(--color-amber-700);
}

.dark {
  --color-border:
    var(--color-slate-800);
  --color-ring:
    var(--color-slate-600);
  --color-background:
    var(--color-slate-950);
  --color-foreground:
    var(--color-slate-50);
  --color-popover:
    var(--color-slate-900);
  --color-popover-foreground:
    var(--color-slate-50);
  --color-muted:
    var(--color-slate-800);
  --color-muted-foreground:
    var(--color-slate-400);
  --color-accent:
    var(--color-slate-800);
  --color-accent-foreground:
    var(--color-slate-50);
  --color-card:
    var(--color-slate-900);
  --color-card-foreground:
    var(--color-slate-50);
  --color-input:
    var(--color-slate-800);
  --color-primary:
    var(--color-blue-500);
  --color-primary-foreground:
    var(--color-white);
  --color-secondary:
    var(--color-slate-800);
  --color-secondary-foreground:
    var(--color-slate-50);
  --destructive-foreground:
    var(--color-red-400);
  --color-destructive:
    var(--color-red-500);
  --info:
    var(--color-blue-500);
  --info-foreground:
    var(--color-blue-400);
  --success:
    var(--color-emerald-500);
  --success-foreground:
    var(--color-emerald-400);
  --warning:
    var(--color-amber-500);
  --warning-foreground:
    var(--color-amber-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}